
//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.

div(tg-threefold-login-button)
    a.button.button-auth(href="", title="Login with 3Bot")
        //- img(src="plugins/threefold-auth/images/threefold-logo.png", alt="")
        span Login with 3Bot
